<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Range: <input ng-model="values.range" class="edit">
      Divisor: <input ng-model="values.divisor" class="divisor">
      Condition: <input ng-model="values.condition" class="condition">

    </div>
    <div class="span5">
        <!--Body content-->
        <div class="numbers">
         <!--div ng-repeat="number in numbers">
             <div ng-class="">
                {{number}}
            </div>
          </div-->
         <div ng-repeat="number in numbersWithInfo">
             <div ng-class="{divisor: number.divisible, condition: number.condition}">
                {{number.n}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
